cpp/bin
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
.DS_Store
cpp/fighter2.dSYM/Contents/Resources/DWARF/fighter2
cpp/fighter2.dSYM/Contents/Info.plist
